  header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    list-style: none;
  }

  ul{
    margin: 0;
  }
  header{
 padding: 2rem;
  }

  ul a {
    text-decoration: none;
  }



  .navbutton{
    border: 2px solid black;
    border-radius: 0%;
    background-color: transparent;
  }
  
  li:first-child {
    margin-right: auto;
  }


 /*FOOTER*/

 footer{
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;

   padding: 2rem;
 }

.secondfooterdiv{
  display: flex;  
   gap: 2rem;
}


.footernav{
  list-style: none;
}

.footernav li{
  padding-top: 0.7rem;
}

.contactlist{
  list-style: none;
  margin: 0;
  padding: 0;
}

.copyright{
  opacity: 0.7;
  font-size: 0.4rem;
}